nav {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.623);
  padding: 3rem;
}

nav > a {
  font: 600 1.7rem cursive;
  color: rgb(39, 99, 179);
  text-decoration: none;
  margin: 0 1rem;
}
